body{
    background-size: cover;
}
.note{
    font-size: 15px;
    color: black;
}
.heading{
    width: 100%;
    margin: 0px;
    font-size: 23px;
}
.div_song{
  float: center;  
}

#song_name{
    font-size: 23px;
    margin: 15px;
}
canvas{
    border: 5px solid plum;
    border-radius: 20px;
    margin-top: 150px;
}
#play_b{
    width: 100px;
    font-size: 30px;
}
